.box select {
    background-color: #0562afb7;
    color: white;
    padding: 12px;
    width: 250px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    margin-top: 15px;
    width: 350px;
}

.box select option {
    padding: 30px;
    border: none;
    background-color: #333333;
}